In [2]:
tup=()

In [3]:
tup1=(10,20,30)

In [4]:
tup2=(10,77,30,66,60,89)

In [5]:
tup3=('one','two','three')

In [6]:
tup4=("nilesh",20,(50,100),(150,90))

In [7]:
tup5=(100,'nilesh',10.15)

In [8]:
tup6=('nilesh',25,[50,100],[150,90], {'nilesh','ram'},(99,22,33))
len(tup6)

6

# tuple indexing

In [11]:
tup1[0]

10

In [12]:
tup3[0][0]

'o'

In [13]:
tup4[-1]

(150, 90)

In [14]:
tup5[-1]

10.15

# tuple slicing

In [15]:
mytuple= ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [16]:
mytuple[0:3]

('one', 'two', 'three')

In [17]:
mytuple[2:5]

('three', 'four', 'five')

In [18]:
mytuple[:3]

('one', 'two', 'three')

In [19]:
mytuple[:2]

('one', 'two')

In [20]:
mytuple[-3:]

('six', 'seven', 'eight')

In [21]:
mytuple[-2:]

('seven', 'eight')

In [22]:
mytuple[-1]

'eight'

In [23]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# remove  and change items

In [24]:
mytuple= ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [25]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [26]:
mytuple[0]

'one'

In [27]:
del mytuple

# loops through a tuple

In [28]:
mytuple= ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [30]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [31]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# count

In [33]:
mytuple= ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
mytuple.count('one')

1

In [35]:
mytuple.count('eight')

1

In [ ]:
mytuple.count

In [36]:
dict()

{}

In [38]:
#Dictionary is a mutable data type in Python.
#A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
#in curly braces {}.
#Keys must be unique in a dictionary, duplicate values are allowed '''

# creating a dictionary

In [40]:
dict1=dict()
dict1

{}

In [41]:
dict1={}
dict1

{}

In [43]:
dict1= {1:'one',2:'two',3:'three'}
dict1

{1: 'one', 2: 'two', 3: 'three'}

In [44]:
dict1=dict({1:'one',2:'two',3:'three'})
dict1

{1: 'one', 2: 'two', 3: 'three'}

In [46]:
dict1={'a':'one','b':'two','c':'three'}
dict1

{'a': 'one', 'b': 'two', 'c': 'three'}

In [52]:
dict1= {1:'one','b':2,3:'three'}
dict1

{1: 'one', 'b': 2, 3: 'three'}

In [53]:
dict1.keys()

dict_keys([1, 'b', 3])

In [54]:
dict1.values()

dict_values(['one', 2, 'three'])

In [55]:
dict1.items()

dict_items([(1, 'one'), ('b', 2), (3, 'three')])

In [56]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [59]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat')}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'cat')}

In [ ]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'ca
mydict

In [60]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'d': None, 'c': None, 'b': None, 'a': None}

In [61]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': 10, 'c': 10, 'b': 10, 'a': 10}

In [62]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30]}

In [63]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

# accesing items

In [64]:
mydict={1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [65]:
mydict[1]

'one'

In [67]:
mydict.get(4)

'four'

In [70]:
mydict1 = {'name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [71]:
mydict1['name']

'Asif'

In [75]:
mydict1.get('job')

'Analyst'

# add remove and change items

In [77]:
mydict1 = {'name':'asif' , 'id': 12345 , 'dob': 1991 , 'address' : 'hilsinki'}
mydict1

{'name': 'asif', 'id': 12345, 'dob': 1991, 'address': 'hilsinki'}

In [78]:
mydict1['dob']= 2002
mydict1['address']='surat'
mydict1

{'name': 'asif', 'id': 12345, 'dob': 2002, 'address': 'surat'}

In [79]:
mydict1['job'] = 'analyst'
mydict1

{'name': 'asif',
 'id': 12345,
 'dob': 2002,
 'address': 'surat',
 'job': 'analyst'}

In [80]:
mydict1.pop('job')
mydict1

{'name': 'asif', 'id': 12345, 'dob': 2002, 'address': 'surat'}

In [81]:
mydict1.popitem() # is popitem is reandomy dilite the items

('address', 'surat')

In [82]:
del[mydict1['id']]
mydict1

{'name': 'asif', 'dob': 2002}

In [83]:
mydict1.clear()
mydict1

{}

In [85]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

# copy dictionary

In [86]:
mydict1 = {'name':'asif' , 'id': 12345 , 'dob': 1991 , 'address' : 'hilsinki'}
mydict1

{'name': 'asif', 'id': 12345, 'dob': 1991, 'address': 'hilsinki'}

In [87]:
mydict1 =mydict

In [88]:
id(mydict),id(mydict1) # id is giveing the memory address of the perticular element

(2144659435328, 2144659435328)

In [89]:
mydict2= mydict.copy()

In [90]:
id(mydict2)

2144662327872

In [92]:
mydict['address']= 'surat'
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 'address': 'surat'}

In [93]:
mydict2

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

# loop through dictionary

In [8]:
mydict1 = {'name':'asif' , 'id': 12345 , 'dob': 1991 , 'address' : 'hilsinki'}
mydict1

{'name': 'asif', 'id': 12345, 'dob': 1991, 'address': 'hilsinki'}

In [9]:
mydict1['job'] = 'analyst'
mydict1

{'name': 'asif',
 'id': 12345,
 'dob': 1991,
 'address': 'hilsinki',
 'job': 'analyst'}

In [10]:
for i in mydict1:
    print(i,":",mydict1[i])

name : asif
id : 12345
dob : 1991
address : hilsinki
job : analyst

In [15]:
for i in (mydict1):
    print(mydict1[i])

asif
12345
1991
hilsinki
analyst

# dictionary membership

In [98]:
mydict1 = {'name':'asif' , 'id': 12345 , 'dob': 1991 , 'address' : 'hilsinki'}
mydict1

{'name': 'asif', 'id': 12345, 'dob': 1991, 'address': 'hilsinki'}

In [99]:
'name' in mydict1

True

In [101]:
'nilesh' in mydict1

False

In [102]:
'id' in mydict1

True

In [103]:
'address' in mydict1

True

# all / any

In [ ]:
#True - If all all keys of the dictionary are true
#False - If any key of the dictionary is false
#The any() function returns True if any key of the dictionary is True. If not, any() returns False

In [104]:
mydict1 = {'name':'asif' , 'id': 12345 , 'dob': 1991 , 'address' : 'hilsinki'}
mydict1

{'name': 'asif', 'id': 12345, 'dob': 1991, 'address': 'hilsinki'}

In [105]:
all(mydict1)

True

In [106]:
any(mydict1)

True

# import math modul

In [1]:
x=sqrt(25)

NameError: name 'sqrt' is not defined

In [3]:
import math
x=math.sqrt(25)
x

5.0

In [6]:
print(math.floor(2.9)) # floor is finding the lower value
print(math.ceil(2.9))  # ceil is finding the upper value

2
3

In [8]:
print(math.pow(3,2))

9.0

In [10]:
print(math.e) # is find the apcilon value

2.718281828459045

In [11]:
import math as m
m.sqrt(100)

10.0

In [13]:
print(m.pi) # in this math moduls in pi value is constant

3.141592653589793

In [14]:
from math import sqrt,pow
pow(614,5)

87265354185824.0

# user input function in python || is command limne input

In [18]:
x=input()
y=input()
x=x+y
x

 8
 9

'89'

In [20]:
x1=input("enter a first number:")
y1=input("entre a second number:")
z=x1+y1
z

enter a first number: 585
entre a second number: 58

'58558'

In [2]:
x1 = input('Enter the 1st number') #whenevery you works in input function it always give you string 
a1 = int(x1)
y1 = input('Enter the 2nd number') # it dont understand as arithmetic operator
b1 = int(y1)
z1 = a1 + b1
print(z1)

Enter the 1st number 100
Enter the 2nd number 8

108

In [22]:
x2 = int(input('Enter the 1st number'))
y2 = int(input('Enter the 2nd number'))
z2 = x2 + y2
z2

Enter the 1st number 486516
Enter the 2nd number 18674

505190

In [25]:
ch = input('enter a char')
print(ch)

enter a char nilesh

nilesh

In [27]:
print(ch[0])

n

In [28]:
print(ch[1])

i

In [29]:
print(ch[-1])

h

In [30]:
ch = input('enter a char')[0]
print(ch)

enter a char nilhf

n

In [31]:
ch = input('enter a char')[2:5]
print(ch)

enter a char nilesh

les

In [32]:
ch = input('enter a char')
print(ch) # if you enter as 2 + 6 -1 we get output as 2 + 6-1 only

enter a char nilesh

nilesh

# eval function using input

In [ ]:
result = eval(input('enter an expr'))
print(result)

In [34]:
x = 5
y = 2
print(x // y, x % y)

2 1

In [16]:
import sys
sys.version

'3.13.9 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 19:09:58) [MSC v.1929 64 bit (AMD64)]'

In [17]:
v =6
v

6

In [18]:
6 =v

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2429895240.py, line 1)

In [19]:
2v =10
2v

SyntaxError: invalid decimal literal (3783180139.py, line 1)

In [20]:
v2 =16
v2

16

In [21]:
nit =16
NIT

NameError: name 'NIT' is not defined

In [22]:
nit

16

In [23]:
v@ =67
v@

SyntaxError: invalid syntax (1570640855.py, line 1)

In [24]:
v_=16
v_

16

In [ ]:
niT_@=89
niT_@

In [25]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [26]:
if =10
if

SyntaxError: invalid syntax (1771456994.py, line 1)

In [27]:
id (x)

NameError: name 'x' is not defined

In [28]:
y= 16
y

16

In [29]:
id(y)

140716521596296

In [30]:
age=56
print(age)

56

In [31]:
type(age)

int

In [32]:
age= 'yt'
print(age)

yt

In [33]:
type(age)

str

In [34]:
price= 89.98
print(price)
type(price)

89.98

float

In [35]:
is_active=True
print(is_active)

True

In [36]:
is_active=True
print(is_active)

True

In [37]:
a=6
b=7
c=a+b
c

13

In [38]:
type(a)

int

In [39]:
f= 2.8
f

2.8

In [40]:
type(f)

float

In [42]:
gold =127898.00
gold

127898.0

In [43]:
type(gold)

float

In [44]:
3e0

3.0

In [45]:
3E1

30.0

In [46]:
3E3

3000.0

In [47]:
4a4 # float only e or E letter is allowed that s it

SyntaxError: invalid decimal literal (3348966526.py, line 1)

In [48]:
b = True
b

True

In [49]:
b= False
b

False

In [50]:
b2 =None
b2

In [51]:
True +False

1

In [52]:
True -False

1

In [53]:
True *False

0

In [54]:
True /False

ZeroDivisionError: division by zero

In [55]:
True //False

ZeroDivisionError: integer division or modulo by zero

In [56]:
False / True

0.0

In [57]:
True + False
True * False
True - True + True

1

In [1]:
print(True + True)
print(True +False)
print(True - True)

2
1
0

In [2]:
c =10 + 20j
c

(10+20j)

In [3]:
type(c)

complex

In [4]:
c.real

10.0

In [5]:
c.imag

20.0

In [6]:
print(c)
print(d)

(10+20j)

NameError: name 'd' is not defined

print(c+d)

In [7]:
print(c+d)

NameError: name 'd' is not defined

In [ ]:
c2= 10